<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
</head>
<body>
<h2 th:text="">登录</h2>
<form method="post">
	<input id="username" type="text" name="username"/>
	<input id="password" type="password" name="password"/>
	<button type="reset">重置</button>
	<button type="submit" onclick="doLogin()">登录</button>
</form>
</body>
<script>

    function doLogin(){

    var cart={
        "name":"dasd",
        "price":1
    }

    localStorage.setItem("cart", cart);
    localStorage.getItem("cart");
    localStorage.removeItem("cart");


	var input_pwd = $("#password").val();
	var salt = "steambuy";
	var str = input_pwd+salt;

	var password = md5(str);


	var userinfo={
		username:$("#username").val(),
		password: password
	};

	$.ajax({
		url: "/auth",
	    type: "POST",
		contentType: "application/json;charset=utf-8",
		dataType: "json",
	    data:JSON.stringify(userinfo),
	    success:function(data){
			alert("data");
	    },
	    error:function(){
			alert("login fail");
	    }
	});
}
</script>
</html>